@charset "ISO-8859-1";
body{
	    background-color: rgb(255, 128, 128);
}
.div-form{
	display: inline-flex;
	width:500px;
    justify-content: center; /* For horizontal centering */
    align-items: center; /* For vertical centering */
    margin-top: 50px;
    margin-left: 500px;
    padding:10px;
    border: 2px solid black;
}